.first-section .banner-top {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.first-section .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
  margin-bottom: 70px;
}

.first-section .content .column1 {
  flex: 50%;
  overflow: hidden;
}

.first-section .content .title {
  font-size: 40px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.first-section .content .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #252525;
}

.first-section .content .text {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 40px;
}

.first-section .content .column2 {
  max-width: 50%;
}

.first-section .content .column2 .title {
  font-size: 30px;
}

.first-section .content .column2 .img {
  width: 100%;
}

.first-section .content .column2 .text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 30px;
  margin-bottom: 50px;
}



.second-section {
  background-color: #EFEFEF;
  padding: 70px 0;
}

.second-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second-section .content .column1 {
  max-width: 100%;
  flex: 50%;
  overflow: hidden;
}

.second-section .content .column1 .img {
  max-width: 95%;
  margin-bottom: 30px;
}

.second-section .content .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.second-section .content .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #252525;
}

.second-section .content .text {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 40px;
}

.second-section .content .column2 {
  max-width: 50%;
}

.second-section .content .column2 .process {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  color: #252525;
}

.second-section .content .column2 .text {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 30px;
  margin-bottom: 50px;
}



.third-section {
  padding: 70px 0;
}

.third-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.third-section .content .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.third-section .content .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #252525;
}

.third-section .content .text {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 40px;
}

.third-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;

}



.fourth-section {
  padding: 70px 0;
}

.fourth-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fourth-section .content .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.fourth-section .content .text {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fourth-section .content-imgs .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.fourth-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
}



.fifth-section {
  padding: 70px 0;
  background-color: #3CDF9F;
}

.fifth-section .title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.fifth-section .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.fifth-section .content .column1 {
  flex: 50%;
  overflow: hidden;
}

.fifth-section .content .column1 .img {
  width: 95%;
}

.fifth-section .content .column2 {
  flex: 50%;
  overflow: hidden;
}

.fifth-section .content .column2 .img {
  width: 95%;
  margin-bottom: 30px;
}

.fifth-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
}



.sixth-section {
  padding: 70px 0;
  background-color: #EAEAEA;
}

.sixth-section .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
}

.sixth-section .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.sixth-section .content .column1 {
  flex: 50%;
  overflow: hidden;
}

.sixth-section .content .column1 .img {
  width: 95%;
  margin-bottom: 30px;
}

.sixth-section .content .column2 {
  flex: 50%;
  overflow: hidden;
}

.sixth-section .content .column2 .img {
  width: 95%;
}

.sixth-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
}



.seventh-section {
  padding: 70px 0 20px;
}

.seventh-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.seventh-section .content .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 50px;
}

.seventh-section .content .img {
  max-width: 100%;
  width: 100%;
}



.eighth-section {
  padding: 70px 0;
}

.eighth-section .title {
  font-size: 30px;
  font-weight: 600;
  color: #252525;
}

.eighth-section .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  justify-content: space-between;
}

.eighth-section .content .column1 {
  flex: 50%;
  overflow: hidden;
}

.eighth-section .content .column1 .img {
  width: 95%;
  margin-bottom: 30px;
}

.eighth-section .content .column2 {
  flex: 50%;
  overflow: hidden;
}

.eighth-section .content .column2 .img {
  width: 95%;
  margin-bottom: 30px;
}

.eighth-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 20px;
}
