header .mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

header .opened-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

.opened-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #261050;
  
  transform: translateX(100%);
  transition: transform 500ms ease-out;
}

.menu_open {
  transform: translateX(0);
  transition: transform 500ms ease-out;
}

.menu-item {
  padding: 30px 0 30px 5%;
}

.menu-item-action {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.btnMenu {
  display: block;
  background-repeat: no-repeat;
  background-position: 15px center;
  padding: 0;
}

.btnMenu_open .button {
  width: 30px;
}

.btnMenu_close_bloc {
  background-color: #261050;
  height: 100px;
}

.btnMenu_close_bloc .btnMenu_close {
  width: 30px;
  cursor: pointer;
  align-items: center;
  margin-top: 35px;
}

header .mobile-header .devPortfolio {
  margin-left: 30px;
  font-size: 15px;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 30px;
  background: linear-gradient(100.22deg, #3040D6 0%, #5E2ACD 85.94%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
}

@media (min-width: 701px) {
  header .mobile-header {
    display: none;
  }
}

@media (max-width: 700px) {
  header .desktop-header {
    display: none;
  }
}