.first-section {
  margin-top: 230px;
}

.first-section .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.first-section .content .column1 {
  flex: 50%;
  overflow: hidden;
}

.first-section .content .title {
  font-size: 40px;
  font-weight: 600;
  color: #252525;
  margin-bottom: 17px;
}

.first-section .content .subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #252525;
  margin-bottom: 15px;
}

.first-section .content .text {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #252525;
  margin-top: 30px;
}


.second-section {
  padding: 70px 0;
  margin-bottom: 70px;
}

.second-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.second-section .content-imgs .img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: -4px;
  margin-bottom: 0;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .first-section {
    margin-top: 160px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .first-section .content .title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .first-section .content .subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #252525;
    margin-bottom: 15px;
  }
  
  .first-section .content .text {
    width: 100%;
    margin-top: 30px;
  }

  .second-section {
    padding: 20px 0;
    margin-bottom: 10px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    width: 100%;
    margin-top: -70px;
    margin-bottom: -70px;
  }
}