body {
  background: #1F1E2C;
}

.first-section {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;

  background-image: url("../assets/background01.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.first-section .content {
  padding: 200px 0 260px;
}

.first-section .content .title {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2em;
}

.first-section .content .text {
  font-size: 20px;
  color: #fff;
  line-height: 1.6em;
  max-width: 680px;
  margin: 40px auto 130px;
}

.first-section .content .button {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  width: 245px;
  height: 60px;
  border: 1px solid #686EFF;
  border-radius: 30px;
  background: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

  transition: 400ms ease;
}

.first-section .content .button:hover {
  background: #686EFF;
  box-shadow: 0 0 30px #686EFF;
}


/* .second-section {
  padding: 0 5%;
} */

.second-section .content {
  display: flex;
  flex-direction: row;
  margin-bottom: 260px;
}

.second-section .content .title {
  font-size: 50px;
  color: #fff;
  margin-right: 340px;
}

.second-section .content .block-text {
  max-width: 500px;
}

.second-section .content .block-text .text {
  color: #fff;
  margin-top: 30px;
}


.third-section {
  background-image: url("../assets/background02.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;

  padding-bottom: 460px;
}

.third-section .title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 100px;
}

.third-section .content {
  padding: 0 5%;
}

.third-section .box {
  padding: 40px 60px;
  background: #2E2D3F;
  border-radius: 6px;
  width: 100%;
  height: 560px;

  display: flex;
}

.third-section .box .img {
  border-radius: 6px;
  margin-right: 40px;
}

.third-section .box .title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.third-section .box .subtitle {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #888888;
  margin-bottom: 50px;
}

.third-section .box .description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 140px;
  max-width: 400px;
}

.third-section .box .button {
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  width: 245px;
  height: 60px;
  border: 1px solid #686EFF;
  border-radius: 30px;
  background: none;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

  transition: 400ms ease;
}

.third-section .box .button:hover {
  background: #686EFF;
  box-shadow: 0 0 30px #686EFF;
}


.fourth-section {
  margin-top: -120px;
}

.fourth-section .content {
  text-align: center;
  margin-bottom: 80px;
}

.fourth-section .content .title {
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.fourth-section .content .arrow {
  margin-top: 20px;
  opacity: 0;
  transform: rotate(-45deg);
  transition: 400ms ease;
  cursor: pointer;
}

.fourth-section .content .arrow.active {
  opacity: 1;
  transform: translateY(-40px) rotate(0deg);
}


.footer {
  padding: 40px 0;
}

.footer .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer .content .second-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer .content .text {
  font-size: 16px;
  color: #fff;
}

.footer .content .second-block .text {
  margin-right: 50px;
}

.footer .content .second-block .email {
  transition: 400ms ease;
}

.footer .content .second-block .email:hover {
  color: #686EFF;
}

.footer .content .second-block .social-icons a + a {
  margin-left: 20px;
}